@model DeletePageCommand
@using MRA.Pages.Application.Contract.Page.Responses
@{
    ViewBag.Title = "Pages";
    Layout = "_Layout";
}
<h2>Pages</h2>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Disabled</th>
        <th>Application</th>
        <th>Role</th>
        <th>Show in menu?</th>
        <th>Contents</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    @{
        var i = 1;
        var pages = (List<PageResponse>)ViewBag.PageResponses;
        foreach (var pageResponse in pages)
        {
            <tr>
                <td>@i</td>
                <td>@pageResponse.Name</td>
                <td>@pageResponse.Disabled</td>
                <td>@pageResponse.Application</td>
                <td>@pageResponse.Role</td>
                <td>@(pageResponse.ShowInMenu ? "Yes" : "No")</td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ContentView")?pageName=@pageResponse.Name'">
                        <i class="bi-book"></i> Contents
                    </button>
                </td>
                <td>
                    <a type="button" class="btn btn-primary" href="@Url.Action("Edit", "PagesView")?pageName=@pageResponse.Name">
                        <i class="fas bi-pen"></i> Edit
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="remove('@pageResponse.Name')">
                        <i class="bi-trash"></i> Remove
                    </button>
                </td>
                @{ i++; }
            </tr>
        }
    }
    </tbody>
</table>


<div class="modal" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Delete" method="post">
                <div class="modal-body" id="modal-body">
                    <input type="hidden" asp-for="Name" id="PageName"/>
                    <p id="modalBodyContent"></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Remove</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
        function remove(name){
            $("#PageName").val(name);
            $("#modalBodyContent").html("<p>Are you sure about removing page " + name + "?");
            $('#removeModal').modal('show');
        }

</script>