@using MRA.Pages.Application.Contract.Page.Responses
@{
    ViewBag.Title = "Pages";
    Layout = "_Layout";
}
<h2>Pages</h2>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Disabled</th>
        <th>Application</th>
        <th>Role</th>
        <th>Show in menu?</th>
        <th>Contents</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    @{
        var i = 1;
        var pages = (List<PageResponse>)ViewBag.PageResponses;
        foreach (var pageResponse in pages)
        {
            <tr>
                <td>@i</td>
                <td>@pageResponse.Name</td>
                <td>@pageResponse.Disabled</td>
                <td>@pageResponse.Application</td>
                <td>@pageResponse.Role</td>
                <td>@(pageResponse.ShowInMenu ? "Yes" : "No")</td>
                <td>
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "ContentView")?pageName=@pageResponse.Name'">
                        <i class="bi-book"></i> Contents
                    </button>
                </td>
                <td>
                    <a type="button" class="btn btn-primary" href="@Url.Action("Edit","PagesView")?pageName=@pageResponse.Name">
                        <i class="fas bi-pen"></i> Edit
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger">
                        <i class="bi-trash"></i> Remove
                    </button>
                </td>
                @{ i++; }
            </tr>
        }
    }
    </tbody>
</table>